/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--main-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  width: 100vw;
}

.header {
  position: relative;
  font-family: var(--accent-font);
  border: 2px solid #000;
  margin: 100px clamp(0px, 25.8vw, 372px);
  background-color: #fff;
}

.flex-width {
  width: var(--flex-width);
}

.logo {
  font-size: clamp(49px, 4.5vw, 65px);
  padding: clamp(120px, 8.8vw, 128px) clamp(14px, 8.36vw, 120.5px) 20px;
}

.title {
  font-size: clamp(14px, 1.6vw, 23px);
  text-transform: uppercase;
  padding: 0 clamp(80px, 12.15vw, 175px) clamp(120px, 8.8vw, 128px);
}

@media (width <= 375.2px) {
  .header{
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}