/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--main-font-settings);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.header {
  font-family: var(--accent-font);
  border: 2px solid #000;
  margin: 101px clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  background-color: #fff;
  /* min-width: 375px; */
}

.flexible-block {
  inline-size: var(--flex-width);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  /* padding: clamp(120px, 8.8vw, 128px) clamp(14px, 8.36vw, 120.5px) 20px; */
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem) 20px;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding: 0 clamp(80px, 12.15vw, 175px) clamp(120px, 9.8vw, 128px);
}

.cards-list {
  margin: 0 clamp(0rem, 34.93vw - 8.187rem, 23.25rem) 50px;
  min-inline-size: 375px;
}

.cards-list-item {
  background-color: #fff;
  border: 2px solid #000;
}

.card-title {
  /* padding: clamp(0.188rem, 0.094vw + 0.165rem, 0.25rem) clamp(0.688rem, -0.188vw + 0.732rem, 0.563rem) 6px; */
  padding: 4px 9px;
  font-variation-settings: var(--card-font-settings);
  font-size: 18px;
}

.cards-list-item:not(:last-of-type) {
  margin-block-end: 51px;
}

.image-block {
  position: relative;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card-image {
  display: inline-block;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  aspect-ratio: 1 / 1;
  vertical-align: bottom;
  /* height: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem); */
}

.image-label {
  font-family: var(--accent-font);
  position: absolute;
  /* margin: 25px 25px 0 573px; */
  top: 25px;
  right: 25px;
  color: #000;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-weight: var(--main-font-settings);
  line-height: 14px;
  opacity: 50%;
  z-index: 1;
  text-shadow: 1px 1px #fff;
}

.blur {
  filter: blur(0.15rem);
}

.sepia {
  filter: sepia(50%)
}

.contrast {
  filter: contrast(124%);
}

.grayscale {
  filter: grayscale(75%);
}

.saturate-contrast {
  filter: saturate(175%) contrast(1.5);
}

.hue-rotate {
  filter: hue-rotate(67deg);
}

.invert {
  filter: invert(88%);
}

/* @supports (text-stroke: 1px #fff) {
  .image-label{
    text-stroke: 1px #fff;
  }
} */

@supports (-webkit-text-stroke: 1px #fff) {
  .image-label {
    -webkit-text-stroke: 1px #fff;
  }
}

.card-text {
  font-weight: var(--main-font-settings);
  font-size: 18px;
  line-height: 1.3125rem;
  /* margin: 23px 23px 27px; */
  margin: 25px 21.46px 24.5px 24px;
}

.card-text-description {
  /* margin: 23px 23px 27px; */
  max-width: 646px;
}

.card-text-description:first-child {
  margin-block-end: 27px;
}

.card-text-comment {
  margin-block-start: 27px;
}

.buttons {
  display: flex;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: unset;
  margin: 0 12px 40px clamp(11.063rem, 30.516vw + 3.91rem, 31.375rem);
  transition: fill 0.3s;
}

.card__like-button {
  /* padding: 10.25px 36px 6.25px 35px; */
  /* margin: 29px 25px 29px 0; */
  margin: 0 25px clamp(1.625rem, 0.094vw + 1.603rem, 1.688rem) 0;
  width: 130px;
  height: 38px;
}

.button {
  position: relative;
  border: 2px solid #000;
  background-color: transparent;
  overflow: hidden;
  transition: 0.5s;
}

.button:focus{
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button:hover {
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  font-family: var(--accent-font);
  color: var(--font-color);
  position: relative;
  font-size: 14px;
  line-height: 12.6px;
  padding-block-start: 2px;
  z-index: 1;
  mix-blend-mode: difference;
}

.like-icon {
  width: 40px;
  height: 40px;
  overflow: visible;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s 0s;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation-name: heart-beat;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  /* animation-fill-mode: forwards; */
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}

.floppy {
  position: relative;
  fill: var(--font-color);
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  z-index: 1;
}

.save-button {
  display: flex;
  background-color: #fff;
  border: 2px solid #000;
  width: 337px;
  height: 51px;
  margin: 0 clamp(2.125rem, 48.638vw - 9.275rem, 34.5rem) 105px;
  /* margin-inline-start: 552px;
  margin-inline-end: 552px;
  margin-block-start: 50px;
  margin-block-end: 105px; */
  gap: 8px;
  padding: 15px 20px 15px 18px;
  transition: 0.5s;
}

.save-dialog {
  font-family: var(--accent-font);
  border-width: 2px;
  block-size: 191px;
  inline-size: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  padding: 30px;
  overflow: hidden;
}

.save-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-message {
  display: flex;
  margin-block-end: 30px;
  overflow: hidden;
}

.floppy-dialog {
  width: 39px;
  height: 39px;
  margin-block: 12px;
}

.dialog-text {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  margin-inline-start: 20px;
  width: 234px;
}

.ok-button {
  background-color: transparent;
  border: 2px solid #000;
  width: 100%;
  height: 38px;
  padding: 12.5px 132.5px;
  line-height: 12.6px;
  font-size: 14px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
}

.ok-button:hover {
  cursor: pointer;
}

@media (width <= 375.2px) {

  
  .card-title {
    padding: 3px 11px;
  }

  .image-label {
    right: 13px;
  }

  .card-text {
    margin: 23px 26.95px 25px 25px;
  }

  .save-button {
    display: grid;
    margin-inline: 34.5px;
    margin-block-start: 52px;
    margin-block-end: 100px;
    padding: 15px 19px 15px 18px;
    width: unset;
    height: unset;
  }

  .cards-list-item:nth-child(7) .card-text {
    margin-inline-end: 29.95px;
  }

  .button__text {
    padding-block-start: unset;
  }

  .floppy {
    width: 28px;
    height: 28px;
    margin-inline-start: 119.5px;
  } 

  /* .card-title {
    padding: 3px 11px;
  }

  .card-text-description {

  }

  .cards-list-item:nth-child(8) .card-text {
    width: 320px;
  }

  .logo {
    padding: clamp(120px, 8.8vw, 128px) clamp(14px, 1.36vw, 120.5px) 20px;
  }

  .button__text {
    padding-block-start: unset;
  }

  */
}