/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: var(--main-weight);
}

.header {
  /* margin: 100px 372px; */
  font-family: var(--accent-font);
  /* width: clamp(375px, 100vh, 700px); */
  width: 1440px;
  height: 568px;
  display: flex;
}

.logo {
  width: var(--section-width);
  border: 2px solid #000;
  margin: auto;
}

.title {
  font-size: 65px;
  padding: 128px 120.5px 0;
}

.subtitle {
  font-size: 23px;
  text-transform: uppercase;
  padding: 20px 175px 128px;
}

@media (max-width: 375px) {
  header{
    width: 100vw;
  }

  .logo {
    margin: auto 0;;
  }
}