/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --main-weight: 400;
    --card-title-weight: 700;
    --section-width: clamp(375px, 700px, 700px);
}
